.about_card {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-flow: column;
  grid-auto-columns: 360px;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

h1 {
  margin-bottom: 0px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    #fdeff9 0%,
    #777777 33%,
    #000000 66%,
    #fdeff9 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  --text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: flex;
  justify-content: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about_card-content {
  background: var(--color-primary-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about_card-content:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about_card-content h5 {
  font-size: 0.95rem;
}

.about_card-content small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about_content p {
  margin: 2rem 0 2.6rem;
  color: white;
}

@media screen and (max-width: 2048px) {
  .about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    gap: 40px;
    max-width: fit-content;
  }

  .about_card {
    display: inline-grid;
    grid-auto-columns: 400px;
    align-items: center;
    padding-bottom: 30px;
    padding-top: -100px;
    margin-top: 0px;
  }

  .about_card-2 {
    display: inline-grid;
    margin-top: 0px;
    grid-auto-columns: 400px;
    align-items: center;
    padding-bottom: 30px;
    padding-top: -100px;
  }

  .about_card-content {
    text-align: center;
    height: 320px;
  }
}

@media screen and (max-width: 1024px) {
  .about_content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }

  .about_card {
    grid-template-columns: 1fr;
  }

  .about_card-2 {
    grid-template-columns: 1fr;
  }

  .about_card-content {
    text-align: center;
  }

  .about_card-content p {
    margin: 1.5rem 0;
  }
}
