.details_container {
  display: grid;
  margin-top: -120px;
  justify-content: center;
}

.details_container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.details_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.details_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.details_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.details {
  display: flex;
  gap: 1rem;
}

.details-icons {
  margin-top: 6px;
  color: var(--color-primary);
}

@media screen and (max-width: 500px) {
  .details_container {
    gap: 1rem;
    width: 200px;
    /* background-color: aqua; */
    justify-content: center;
  }

  .details_content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 200px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .details_container {
    /* background-color: antiquewhite; */
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }

  .details_container > div {
    width: 100%;
    grid-template-columns: 200px;
    justify-content: center;
  }

  .details {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .details_container {
    /* background-color: blue; */
    gap: 1rem;
    width: 100%;
    justify-content: center;
    max-width: 200px;
  }

  .details_container > div {
    width: 100%;
    max-width: 400px;
    justify-content: center;
  }

  .details {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
