header {
  height: 100%;
  max-height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.me {
  width: 22rem;
  max-height: 22rem;
  height: 100%;
  margin-inline: auto;
  margin: -3rem auto;
  margin-bottom: 2rem;
  border-radius: 50% 50% 50% 50%;
  overflow: hidden;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: all 0.4s;
}
.image-card:hover {
  box-shadow: 1px 1px 6px 1px #9f9fa0;
  border-radius: 50% 50% 50% 50%;
}
.image-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 180%;
  border-radius: 50% 50% 50% 50%;
  height: 120%;
  width: 75%;
  opacity: 1;
  transition: 0.1s;
}
.image-card:hover:before {
  left: -180%;
}
.image-card img {
  height: 100%;
  border-radius: 50% 50% 50% 50%;
  width: 100%;
  transition: 1s;
}
.image-card:hover img {
  filter: grayscale(10%);
  border-radius: 50% 50% 50% 50%;
  transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  header {
    max-height: 100vh;
    height: 100%;
    margin-bottom: -5rem;
  }
  .me {
    /* background-color: blue; */
    width: 18rem;
    margin-top: -30px;
    margin-bottom: 0px;
    height: 18rem;
    margin-inline: auto;
  }
}

@media screen and (max-width: 600px) {
  header {
    max-height: 100vh;
    height: 100%;
    margin-bottom: -15em;
  }
  .me {
    /* background-color: aqua; */
    width: 18rem;
    margin-bottom: 100px;
    height: 18rem;
    margin-inline: auto;
  }
}
